/*****************************************************************************************************************
	Ciclo formativo de grado superior ASIR 
	--------------------------------------
	Autor: Daniel Jesus Umpiérrez Del Río
	Fecha: 12/02/2014
******************************************************************************************************************
*/

/* Area general */
body {
	background : #C0D9D9 url(imagenes/fondo.png) repeat;
	margin: 0px 0px 0px 0px;
	text-align: center;
} 

h1{
	color: blue;
	font-style: bold;
	font-size:18;
	font-family: Verdana;
	text-align: center;
}
/* Fin de area general */

/* Maquetación de la página (contenedores) */
#Cabecera{
	margin: 30px auto auto auto;
}

/* Menu superior (va justo debajo de la imagen de cabecera */
#BarraMenu{
	background-color: #ffffff;
	width:700px;
	padding : 3px 10px 0px 10px; 
	border-top : 3px solid #cccccc; 
	border-bottom : 3px solid #cccccc;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 0px;
}

#Contenedor{
	text-align: center;
	width: 720px;
	margin: auto;
}

#Cuerpo {
	margin: auto;
	width: 700px;
	background-color: #ffffff;
}

/* Menu que flota a la izquierda del contenido */
#MenuIzquierdo{
	border-width: 1px;
	border-style: solid;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
	background-color: lightblue;
	width: 150px;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	float: left;
	height: auto;
}

/* Aqui va el grueso de la información */
#Contenido{
	text-align: justify;
	background-color: #ffffff;
	font-size: 16;
	font-family: Verdana;
	height: auto;
	padding: 1px 30px 15px 20px;
	margin-left: 175px;
	min-height: 500px;
}

#PieDePagina{
	background-color: #ffffff;
	width: 700px;
	margin: auto auto auto auto;
	border-width: 1px;
	border-style: solid;
	clear: both;
}
/* Fin de contenedores */

/* Imagenes contenidas dentro del texto */
#ImagenFlotante{
	float: left; 
	margin: 8px 14px 2px 0px;
}

/* Diseño de boton del menú principal */
#btnMenuPrincipal {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background-color:#378de5;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:45px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}

#btnMenuPrincipal:hover {
	background-color:#79bbff;
}

#btnMenuPrincipal:active {
	position:relative;
	top:1px;
}

/* Diseño de boton del menú izquierdo */
#btnMenuIzquierdo{
	color: White;
	padding-top: 4px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 15;
	display: block;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
	vertical-align: middle;
	text-decoration: none;
	background-color: RoyalBlue;
	margin-bottom: 2px;
}

#btnMenuIzquierdo:hover{
	background-color: Blue;
}

#btnMenuIzquierdo:active{
	position: relative;
	top: 1px;
}